.spinner {
  width: 30px;
  height: 30px;
  margin-right: 3px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 50%;
  outline: 0;
  background: #000;
}

.ui-spinner-button {
  cursor: pointer;
}
