.label {
  display: inline-block;
  padding: 7px 21px;
  margin: auto;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #000;
  font-size: 16px;
  box-shadow: -1px -1px 2px 0 #222;
}
