extends ../layout.jade

block content
  header.header
    .grid_fixed
      // logo
      .logo
        a(href="#", class="logo__link")
          img(src="img/logo_right.jpg", class="logo__image", alt="Тату рукава")
          span.logo__text tatu-rukava.ru
      // logo end

      // order
      .order
        a(href="tel:+79217953721", class="phone order__phone") <i class="fa fa-phone phone__icon"></i> +7 (921) 795 37 21
        span.order__status <i class="fa fa-shopping-cart"></i> Ваша корзина пуста
        a(href="#", class="order__button label") Заказать!
      // order end

      // alert
      .alert.alert_type_warning.header__alert Выбери товар, друг мой! Фредо расстроится, если ты ничего не купишь.
      // alert end
  .content
    .grid_fixed
      // intro
      section.intro
        h1.heading.intro__heading На эту и на ту, набей себе тату
        .grid__cell-md_size_6
          p.intro__text
            | Давно мечтаете о татуировке, но не уверены захотите ли оставить ее на всю жизнь? Или может быть вы собираетесь на вечеринку и ищете интересный аксессуар, которым можно удивить окружающих ?
          p.intro__text
            | <strong>Тату рукава</strong> - аксессуар, который набрал огромную популярность на западе, теперь можно приобрести и в России. Они позволяют получить долгожданные татуировки без боли, не задумываться об их сведении, а также менять их в любой момент.
            | Тату рукава одеваются от запястья до плеча и отлично смотрятся с вашей верхней одеждой: майкой или рубашкой. Материал из которого сделаны тату рукава имеет пористую структуру, благодаря чему кожа под ними дышит и не потеет.</p>
        .grid__cell-md_size_6
          p.intro__text
            | Все рукава имеют универсальный размер, могут одеваться как на руки, так и на ноги. Их можно стирать, они выдерживают даже машинную стирку и не линяют.
            | Хотим отметить, что тату рукава подходят не только для мужчин, но и для девушек, поэтому, если вы хотите придать своему внешнему виду что - то необычное и выделиться среди окружающих - <strong>тату рукава</strong> будут отличным вариантом.
          p.intro__text
            | В любом случае, ищете ли вы новый аксессуар для повседневного ношения или для тематической вечеринки, похода в ночной клуб или просто запоминающийся подарок на день рождения - выбирайте понравшиеся тату - рукава и заказывайте!
      // intro end

      // facts
      section.facts
        .grid__cell-md_size_3.facts__item
          img(src="img/crown.png", class="facts__image")
          p.facts__text Тату рукава сделаны из прочного нейлона и материала спандекса, что делает их универсальными в плане размеров.
        .grid__cell-md_size_3.facts__item
          img(src="img/rose.png", class="facts__image")
          p.facts__text Гарантированный подарок и скидка при заказе от 5 рукавов.
        .grid__cell-md_size_3.facts__item
          img(src="img/anchor.png", class="facts__image")
          p.facts__text Доставка только по центральному и выборгскому раойнам Санкт-Петербурга, 100 руб.
        .grid__cell-md_size_3.facts__item
          img(src="img/skull.png", class="facts__image")
          p.facts__text Самовывоз - м. Площадь Мужества
      // facts end

      // products
      section.products
        h2.heading Ассортимент
        .products__area
          // products rendering here
      // products end

      // details
      .details
        .details__picture
        .details__info
          p.details__text Здравствуй, мой дорогой друг!
          p.details__text Меня зовут Фредо. Ребята попросили сказать пару слов о тату рукавах. Как ты уже, наверное, заметил татаиуровка для меня не просто картинка, а отражение моей сущности.
          p.details__text Выбор новой татауировки для меня - как познание новой истины в моей жизни. И хотя к тату рукавам я отношусь скептически, у них есть одно неоспоримое преимущество - если истина, которую ты познал, на самом деле оказалось глубоким заблуждением, ты сможешь снять ее и больше никогда не надевать, что невозможно сделать с настоящей татуировкой, которая так и останется глубоким заблуждением и будет постоянно о себе напоминать. В этом смысле, я тебе завидую мой дорогой друг. Ибо часть татуировок, которые ты видишь на моем теле, так и остались глубокими заблуждениями.
          p.details__text Поэтому поступай мудро, и пусть все твои татуировки окажутся новыми <span class="details__text_type_good">истинами</span>, а не глубокими <span class="details__text_type_bad">заблуждениями!</span>
      // details end

      // popup
      .popup.mfp-hide#popup
        h3.popup__heading Корзина
        h4.popup__title Ваш заказ
        form.popup__form
          .popup__order-info
            // Здесь рендерятся товары, добавленные в корзину
          .popup__client-info
            .grid__row.popup__row
              label(class="grid__cell-xs_size_3 popup__label", for="form-name") Ваше имя
              .grid__cell-xs_size_9
                input(id="form-name", class="popup__input", type="text", placeholder="Имя", name="name")
            .grid__row.popup__row
              label(class="grid__cell-xs_size_3 popup__label", for="form-phone") Телефон
              .grid__cell-xs_size_9
                input(id="form-phone", class="popup__input", type="phone", placeholder="Телефон", name="phone")
            .grid__row.popup__row
              label(class="grid__cell-xs_size_3 popup__label", for="form-mail") Почта
              .grid__cell-xs_size_9
                input(id="form-mail", class="popup__input", type="email", placeholder="Почта", name="mail")
          .popup__footer
            a(href="#", class="popup__close label") Продолжить покупки
            button(type="submit", class="label popup__submit") Заказать!
            button(type="button", class="mfp-close", title="Закрыть (Esc)") ×
      // popup end

      // footer
      footer.footer
        a(href="tel:+7921795372", class="phone footer__phone") <i class="fa fa-phone phone__icon"></i> +7 (921) 795 37 21
        | Санкт-Петербург, 2015
      // footer end

  // templates
  script(id="products-template" type="text/x-handlebars-template").
    {{#each blocks}}
    <div class="grid__cell-md_size_4 products__item">
      <div class="products__photo">
        <img src="img/product__{{alias}}.jpg" class="products__image" alt="{{alias}}">
      </div>
      <div class="products__name label">{{name}}</div>
      <div class="products__info">
        <span class="products__price">{{price}} р.</span>
        <label class="products__amount">Количество</label>
        <input data="{{alias}}" name="amount" class="spinner" value="0">
      </div>
    </div>
    {{/each}}

  script(id="order-template" type="text/x-handlebars-template").
    {{#each goods}}
      {{#if amount }}
      <div class="grid__row popup__row">
        <label class="grid__cell-xs_size_3 popup__label">{{name}}</label>
        <div class="grid__cell-xs_size_9">
          <input data="{{productAlias}}" name="amount" class="spinner" value="{{amount}}">
          x <span class="popup__price">{{productPrice}}</span> р. = <span class="popup__current-sum">{{productSum}}</span> р.
        </div>
      </div>
      {{/if}}
    {{/each}}

    <div class="grid__row">
      <label class="grid__cell-xs_size_3 popup__label">Итого</label>
      <div class="grid__cell-xs_size_9">
        <input class="popup__input" type="text" id="total-sum" value="{{totalPrice}}" readonly="readonly" name="totalprice"> руб
      </div>
    </div>
  // templates end
