extends ../layout.jade

block content
  .logo
    img(width="250" height="200" src='img/b.svg' class="logo__image")
    h1(class="logo__text").
      Congrutilations, bro!
      You've just set up a project stub for making web sites with BEM methodology
