.intro__heading {
  &:before,
  &:after {
    position: absolute;
    top:0;
    width: 90px;
    height: 96px;
    content: '';
    background: url(img/heart.png);
  }
  &:before {
    left:0;
  }
  &:after {
    right: 0;
  }
}

@media only screen and (max-width: 992px) {
  .intro__heading {
    &:before,
    &:after {
      display: none;
    }
  }
}
